<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.curchod.wherewithal"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.NFC" />
	<permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.curchod.wherewithal.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.curchod.wherewithal.PlayersActivity"
            android:label="@string/title_activity_players" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.curchod.wherewithal.AddPlayerActivity"
            android:label="@string/title_activity_add_player"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.curchod.wherewithal.GamesActivity"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:name="com.curchod.wherewithal.InstructionsActivity"
            android:label="@string/title_activity_instructions" >
        </activity>
        <activity
            android:name="com.curchod.wherewithal.CardsActivity"
            android:label="@string/title_activity_cards" >
        </activity>
        <activity
            android:name="com.curchod.wherewithal.PlayerActivity"
            android:label="@string/title_activity_player" >
        </activity>
        <activity
            android:name="com.curchod.wherewithal.CardPlayersListActivity"
            android:label="@string/title_activity_card_players_list" >
        </activity>
        <activity
            android:name="com.curchod.wherewithal.CardPlayerWordsActivity"
            android:label="@string/title_activity_card_player_words" >
        </activity>
        <activity
            android:name="com.curchod.wherewithal.GameReadingStonesActivity"
            android:label="@string/title_activity_game_reading_stones" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.curchod.wherewithal.GameWritingStonesActivity"
            android:label="@string/title_activity_game_writing_stones" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        
        <receiver android:name="com.curchod.wherewithal.UpdateReceiver" >
            <intent-filter>
                <action android:name="com.curchod.wherewithal.RemoteBroadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.curchod.wherewithal.GameSnazzyThumbworkActivity"
            android:label="@string/title_activity_snazzy_thumbwork" >
        </activity>
        <activity
            android:name="com.curchod.wherewithal.GameReadingStonesInstructionsActivity"
            android:label="@string/title_activity_game_reading_stones_instructions" >
        </activity>
        <activity
            android:name="com.curchod.wherewithal.CardDecksActivity"
            android:label="@string/title_activity_card_decks" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.curchod.wherewithal.CardDeckActivity"
            android:label="@string/title_activity_card_deck" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.curchod.wherewithal.CardPlayerHouseDeckActivity"
            android:label="@string/title_activity_card_player_house_deck" >
        </activity>
    </application>

</manifest>